doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="main.css")
        title My personal framework
    body
        .preloader 
            p.preloader__text 
                | In this course, you'll learn how to set up your own boilerplate 
                | from scratch with all the technologies, tools, 
                | and libraries you need to get up to speed.
              